<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" type="text/css" href="login.page.scss">
</ion-header>

<ion-content class="login-box">
  <ion-title></ion-title>
  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input formControlName="nombre" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
  </form>
  <br>
  <ion-button (click)="ingresar()">
    Ingresar
  </ion-button>

<ion-footer>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']">Registrarse</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>